<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <link type="text/css" rel="stylesheet" href="styles/yfiles.css">

  <style>
    html, body, #graphComponent {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>
<div id="graphComponent"></div>

<% if (useTypeInfo && !useGruntBundling) { %>
<!-- Adding type information support during application development. -->
<script src="scripts/yfiles-typeinfo.js"></script>

<% } %><% if (!useGruntBundling) { %><script src="lib/yfiles/es2015-shim.js"></script><% } %>
<% if (!useWebpack) { %><script src="scripts/license.js"></script><% } %>
<%


if (useBrowserify || useWebpack) { %><script src="scripts/<%= applicationName %>.js"></script>
<% if (language === "es6" && useTypeInfo) { %><script src="scripts/yfiles-typeinfo.js"></script><% } %>
<% }

else if (loadingType === "systemjs") { %>
<script src="<%= useGruntBundling ? "lib/system.js/" : "../bower_components/system.js/dist/" %>system.js"></script>
<script>
window.define = System.amdDefine;
window.require = System.amdRequire;
System.config({
  map: {
    yfiles: "<%= libPath %>yfiles"
  },
  defaultJSExtensions: true
});
<% if (!(useBrowserify || useWebpack)) { %>
  Promise.all([
    System.import("scripts/<%= applicationName %>"),
    <% modules.forEach(function (module) { %>System.import("<%= module %>"),
  <%  }); %>
])<% } else { %>System.import("scripts/<%= applicationName %>")<% } %><% if (language === "es6" || language === "typescript") { %>.then(function (results) {
  <% if (useTypeInfo) { %>System.import("scripts/yfiles-typeinfo.js"); <% } %>
  <% if (language === "typescript") { %>new results[0].<%= applicationName %>();
  <% } else { %>new results[0]();<% } %>
})<% } else { %>.then(function () {
  new (yfiles.module("<%= module %>")).<%= applicationName %>();
})<% } %>;
</script><%
}


else if (language === "typescript") {
%><script src="../bower_components/requirejs/require.js"></script>
<script>
  require.config({
    baseUrl: './',
    paths: {
      'yfiles': '<%= libPath %>yfiles'
    }
  });
  // load the license and the required modules
  require([
    './scripts/<%= applicationName %>.js',
    './scripts/license.js',
  ], function(<%= module %>) {
    new <%= module %>.<%= applicationName %>();
  });
</script><%
}


else if (loadingType === "AMD") {
    if (useGruntBundling) {
%><script src="scripts/require.js"></script><%
    } else {
%><script src="../bower_components/requirejs/require.js"></script><%
    }
%>

<script src="scripts/<%= applicationName %>.js"></script>
<% }


else {
  if (!useBrowserify || !useWebpack) {
    if (loadingType === "script-tags") { %>
<script src="<%= libPath %>yfiles/impl/lang.js"></script>
<% } else { %>
<script src="<%= libPath %>yfiles/lang.js"></script>
<% } %>
<% modules.forEach(function (module) { %><script src="<%= libPath %><%= module %>.js"></script>
<% });
  } else { %>
<script src="<%= libPath %>yfiles.js"></script>
<% } %>
<script src="scripts/<%= applicationName %>.js"></script>
<% } %>
</body>
</html>
